@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
}
html,body{
	width:100%;
	height:100%;
}
.con{
    background-color:#6d6d6d;
}
.p{
    text-align:center;
	line-height:3rem;
	color:#fff;
	font-size:1.7rem;
	margin-top: 1rem;
}
.containers{
    width:98%;
	margin:0 auto;
	margin-top: 5rem;
}
.con_p{
    font-weight:bold;
	color:black;
	margin-top:6.5rem;
	font-size:1.8rem;
}
.con_smn{
    color:gray;
}
.con_pp{
    margin-top:1rem;
    text-indent:2em;
    line-height:1.8rem;
	font-size:1.6rem;
	letter-spacing:2px;
}
.table{
    margin-top:2rem;
}
.tab_td{
    text-align:center;
}
.table > tbody > tr > td{
    text-align:center;
}
hr{
    border-top: 1px solid #b1b1b1;
	padding-bottom:3rem;
}
.com{
    background-color:#6d6d6d;
	height:4rem;
}